<!DOCTYPE html>
<html>

<head>
  <title>FhHomework02</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Book Collection</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <!-- Button Trigger Modal -->
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#bookModal">Add Book</button>
        </form>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bookModalLabel">Add a book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= simple_form_for Book.new do |f|%>
            <div class="modal-body">
              <%= f.input :title, placeholder: 'Title of book'%>
              <%= f.input :author, placeholder: "Author's Name: John Doe" %>
              <%= f.input :genre_type , label: "Fiction/Nonfiction", collection: ['Fiction', 'Nonfiction']%>
              <%= f.input :year, label: 'Year Published' ,collection: 1800..2019%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Add Book', class: 'btn btn-outline-success'%>
            </div>
            <% end %>
          </div>
        </div>

      </div>
    </nav>
    <%= yield %>
  </div>
</body>

</html>